:root {
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;

    --primario: #784D3C;
    --gris: #e1e1e1;
    --blanco: #ffffff;
    --negro: #000000;
}
html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */    
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
}

/** Globales **/
.contenedor {
    width: min(90%, 120rem);
    margin: 0 auto;
}
a {
    text-decoration: none;
}
h1, h2, h3, h4 {
    font-family: var(--fuenteHeading);
    line-height: 1.2;
}
h1 {
    font-size: 4.8rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3.2rem;
}
h4 {
    font-size: 2.8rem;
}
img {
    max-width: 100%;
}
/** Utilidades **/
.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0;
}
.centrar-texto {
    text-align: center;
}

/** Header index**/
.webp .header {
    background-image: url(../img/platillos/steak_banner.jpg);
    background-color: #000000;
    opacity: 0.9;
}
.header {
    height: 60rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.header__texto {
   text-align: center;
   color: var(--blanco);
   margin-top: 5rem;
}

/** Header no-index**/
.headerNo {
    height: 11rem !important;
    background-color: #000000;
    height: 60rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
@media (min-width: 768px) {
    .header__texto {
        margin-top: 15rem;
    }
}
.barra {
    padding-top: 0rem;
}
.barra_black{
    margin: 0px -100px; 
    background-color: #000000;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .barra_black{
        display: block;
    }

    .subtitle_noindex{
        margin-top: 1rem;
    }
    .headerNo {
        height: 27rem !important;        
    }
}
@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.logo {
    color: var(--blanco);
    
}
.logo__nombre {
    font-weight: 400;
}
.logo__bold {
    font-weight: 700;
}
@media (min-width: 768px) {
    .navegacion {
        display: flex;
        gap: 2rem;
    }
}
.navegacion__enlace {
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--blanco);
}

.blog{
    grid-column: span 2;
}

/*Index*/
.platillo-info{
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 10px;
    border-bottom: 1px solid var(--gris);
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .contenido-principal {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
    }    
}

@media (max-width: 768px) {
    .platillo-info{        
        display: block !important;
    }
}
.entrada {
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
}
.entrada:last-of-type {
    border: none;
    margin-bottom: 0;
}

.entrada__imagen {
    display: flex;
    justify-content: center;
}
.entrada__imagen img{
    max-height: 500px;
}

.entrada__contenido{
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
}
.entrada__contenido p{
    text-align: justify;
}

.boton {
    display: block;
    font-family: var(--fuenteHeading);
    color: var(--blanco);
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    border: none;
}

@media (min-width: 768px) {
    .boton {
        display: inline-block;

    }
}
.boton:hover {
    cursor: pointer;
}
.boton--primario {
    background-color: var(--negro);
    border-radius: 30px;
}
.boton--secundario {
    background-color: var(--primario);
    border-radius: 30px;
}

.cursos {
    list-style: none;
}

.widget-curso {
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
}
.widget-curso:last-of-type {
    border: none;
    margin-bottom: 0;
}
.widget-curso__label {
    font-family: var(--fuenteHeading);
    font-weight: bold;
    margin: 3px 0px;
}
.widget-curso__info {
    font-weight: normal;
}
.widget-curso__label,
.widget-curso__info {
    font-size: 2rem;
}

.widget-guarniciones{
    margin: 0px;
}
.reservar{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.footer {
    background-color: var(--negro);
    padding-bottom: 3rem;
    margin-top: 4rem;
}

/** Sobre Nosotros **/
@media (min-width: 768px) {
    .sobre-nosotros {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

/*Contacto*/
#sinCobertura_contacto_wa{
    font-size:5rem;
    color:#00ff40;
    cursor: pointer;
}
.pie_wha{
    font-size: 2rem;
    margin:-2rem 0 0 0;
}

/** Cursos **/
.curso {
    padding: 3rem 0;
    border-bottom: 1px solid var(--gris);
}
@media (min-width: 768px) {
    .curso {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 2rem;
    }
}
.curso:last-of-type {
   border: none;
}
.curso__label {
    font-family: var(--fuenteHeading);
    font-weight: bold;
}
.curso__info {
    font-weight: normal;
}
.curso__label,
.curso__info {
    font-size: 2rem;
}

/** Contacto **/
.contacto-bg {
    background-image: url(../img/barbacoa.webp);
    height: 40rem;
    background-size: cover;
    background-repeat: no-repeat;
}

.formulario {
    background-color: var(--blanco);
    margin: -20rem auto 0 auto;
    width: 95%;
    padding: 5rem;
}
.campo {
    display: flex;
    margin-bottom: 2rem;
}
.campo__label {
    flex: 0 0 9rem;
    text-align: right;
    padding-right: 2rem;
}
.campo__field {
    flex: 1;
    border: 1px solid var(--gris);
}
.campo__field--textarea {
    height: 8rem;
}
@media (max-width:768px) {
    .campo__field--textarea {
        height: 5rem;
    }
    .actions{
        margin-top: 2rem;
    }
    .actions h3{
        font-size: 2.2rem;
    }
}
.actions{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*LOGIN*/

.background{   
    top: 0px;
    background-size: cover;
    background-image: url(../img/platillos/carne_mesa.webp);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    position: absolute;
    z-index: -2;   
}
.backgroundCover{    
    top: 0px;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.425);
    height: 100%;
    width: 100%; 
    position: absolute;   
    z-index: -1;
}
.content-flex-center{
    display: flex;
  justify-content: center;
  align-items: center; 
  height: 90%;;
}
.difuminar h2{
    color: white;
    margin-top:0px;
    margin-bottom:0px;
    font-size:40px;
}
.difuminar{
    position:absolute;
    display:block;    
    background-color: rgba(255, 255, 255, 0.2);/*rgba(94,7,35, 0.3); */
    border-radius: 5px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: fit-content;  
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
}

/*
.logo{
    margin:0 7rem 0 7rem;
    width: 20rem;
}
*/
.campo{
    width:100%;
    height:3rem;
    border:0px;
    border-radius: 5px;
    background-color: rgba(248, 248, 248, 0.808);
    margin-top: 2rem;
    color: black;
}
.submit_btn{
    border:0px;
    background-color:transparent;
    height:4rem;
    border-radius: 8px;
    margin-top: 1rem;
    margin-bottom: 5px;
    color: white;
    cursor: pointer;
}
.submit_btn:hover{
    cursor: pointer;
    background-color: #b2b2b2;
    opacity: 0.9;
    color: #ffff;
}
.desactivado{
    background-color:var(--gris_poup);
    /*display: none;*/   
}
.opciones{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .difuminar{
        width: 90%;
    }
    .formulario{
        padding: 1rem;
    }
}

.container{
    width: 100%;
    margin: 0 auto;
    max-width: 2100px;
    padding: 0 60px;
}

.sidebar {
    width: 60px;
    height: calc(100vh - 11rem);
    
    background-image: url(../img/barbacoa.webp);
    overflow: hidden;
    transition: width 0.3s ease;
    position: fixed;
    top: 11rem;
    left: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}

.sidebar:hover {
    width: 300px;
}

.sidebar .item {
    display: flex;
    align-items: center;
    padding: 15px 10px;
    color: white;
    white-space: nowrap;
    cursor: pointer;
    transition: background-color 0.2s ease;    
}

.item i{
    font-size: xx-large;
}
.sidebar .item:hover {
    background-color: #0077ff;
}

.sidebar .icon {
    width: 40px;
    text-align: center;
    flex-shrink: 0;
}

.sidebar .text {
    opacity: 0;
    transition: opacity 0.3s ease;
    margin-left: 20px;
}

/* Mostrar el texto solo cuando sidebar está expandido */
.sidebar:hover .text {
    opacity: 1;
}

